<header>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/urls">TinyApp URL Shortener</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="/urls">Home</a>
                    </li>
                    <li><a href="/urls/new">New</a
                    </li>
                    
                    
                </ul>
                <% if(!user){ %>
                    <form class="navbar-form navbar-right" method="POST" action="/login">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <a href="/register"><label class="btn btn-primary">Register</label></a>
                    </form>
                <% } else { %>
                    <form class="navbar-form navbar-right" method="POST" action="/logout">
                        <label class="form-group">Log in as: <%= user['email'] %></lable>&nbsp;
                        <button type="submit" class="btn btn-primary">Log Out</button>
                    </form>
                <% } %>
            </div>
        </center>
    </div>
</div>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">


</header>