<!DOCTYPE html>
<html lang="en">
<head><link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
  <body style="padding-top: 70px;">

        <div class="container">	
            <div class="col-md-2"></div>			
            <div class="col-md-8">
                <h3 class="dark-grey">ERROR</h3>
                <div class="alert alert-warning">
                    <strong><%= error_code %></strong><br />
                    <%= error_message %><br />

                    You'll be redirected in 5 seconds...

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </body>
    <footer>
        <% include partials/_footer %>
    </footer>
</html>