<!DOCTYPE html>
<html lang="en">
  <head><% include partials/_header %></head>
  <body style="padding-top: 70px;">

        <div class="container">	
            <div class="col-md-3"></div>			
            <div class="col-md-6">
                <h3 class="dark-grey">Registration</h3>
                <form method="POST" action="/register">
                    <div class="form-group col-lg-6">
                        <label>Email Address</label>
                        <input type="email" name="email" class="form-control" id="register_email" required>
                    </div>
                    
                    <div class="form-group col-lg-6">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" id="register_password" required>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Register">
                </form>
            </div>
        
            <div class="col-md-3"></div>
        </div>

    </body>
    <footer>
        <% include partials/_footer %>
    </footer>
</html>