<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <a href='http://localhost:8080/u/<%= shortURL %>' >http://localhost:8080/u/<%= shortURL %></a>
</body>
<footer>
        <% include partials/_footer %>
</footer>
</html>