<!DOCTYPE html>
<html lang='en'>
<head>

</head>
<body style='padding-top: 70px;'>
    <% include partials/_header %>
    <!-- Add your EJS code here -->
        <div class='container'>
            <div class='row'>
                <div class='col-md-2'></div>
                <div class='col-md-8'>
                    <table class='table'>
                        <thead>
                            <tr>
                            <th>ShortURL:   <a href='/u/<%= shortURL %>'><%= shortURL %></a></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <form method='POST' action='/urls/<%= shortURL %>/update'>  
                                    <td>
                                        <input class='form-control' id='longURL' type='text' name='longURL' placeholder='<%= longURL %>' required>
                                    </td>
                                    <td>                                     
                                        <input class='btn btn-warning' type='submit' value='Update'>
                                    </td>
                                </form>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='col-md-2'></div>
            </div>
        </div>
</body>
</html>